body
{
	//background-color:grey;
        background-image: url(site-background-pattern-07_large.jpeg);
}

h1
{
	font-size: 40px;
	text-align: center;
	text-shadow: 0px 0px 9px red;
}

.banniere
{
	margin: 0 auto;
	display: block;
	border-radius: 10px;
}

.table_menu
{
	margin: 0 auto;
	border-collapse: collapse;	
}

.td_menu
{	
	text-align: center;
	border: solid black;
	width: 250px;
	font-weight: bold;
	text-shadow: 0px 0px 9px red;	
}

.td_panier
{
	text-align: center;
	width: 100px;
	border-radius: 10px;
}

.panier
{
	border-radius: 10px;
}

.table_recherche
{
	margin: 0 auto;
	border-collapse: collapse;	
}

.table_affiche
{
	text-align: center;
	border: solid black;
	margin: 0 auto;
	border-radius: 10px;
}

.td_affiche
{
	width: 1000px;
	height: 400px;
}